@import './variables.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x:hidden ;
  }
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    text-decoration: none;
    color: $white;
    font-size: 18px;

}
.show{
    display: inherit;
  }
.hide{
    display: none;
  }
.error{
    color: rgb(207, 48, 48);
    padding:5px;
  }
a{
    color: $grayish-blue;
  }
.white {
    color: aliceblue;
  }
.dark{
  color: $very-dark-desaturated-blue;
}