$base-color: #ececec;
$light-color: #787a9b;
$mid-color: #1b1e2b;
$primary: rgb(72, 72, 146);
$primary-dark: rgb(11, 35, 63);
$primary-light: rgb(24, 51, 80);
$pink: rgb(192, 77, 42);
$blue: rgb(26, 61, 107);
$orange: rgb(170, 121, 29);