@import '../../variables.scss';

.hero{
    
    height: 100vh;
    position: relative;
    .header{
        text-align: center;
        padding-top: 50px;
    }
    .hero-desktop-img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .arrow-cont{
        text-align: center;
        padding-top: 20px;
    }
    .arrow{
        height: 100px;
        width: 20px;
        position: absolute;
        top:45vh;
        left: 49vw;
    }
}
