@import '../variables.scss';
.block{
    min-height: 80vh;

    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        padding-bottom: 20px;
        font-weight: bold;
    }
    p{
        padding-bottom: 20px;
    }
}
.learnMore{
    text-decoration: none;
    font-weight: bold ;
    color: $very-dark-desaturated-blue;
}
.hover-red{
    position:relative;
}
.hover-yellow{
    position: relative;
}
.learnMore::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: inline-block;
    width: 60%;
    height: 30%;
    margin: 0 20%;
    border-radius: 50px;
    z-index: -1;
}
.hover-red::after{
    background-color: $soft-red;
}
.hover-yellow::after{
    background-color: $yellow;
}
.block-img{
    min-height: 80vh;
    padding: 0;

}

.block-img-bg{
    min-height: 70vh;
    position: relative;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    h2{
        padding-bottom: 10px;
        color: $white;
    }
    p{
        padding-bottom: 10px;
        color: $white;
    }
    img{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
.bottom-imgs{
    
}
.bottom-img{
    height: 300px;
}
footer{
    background-color: $dark-moderate-cyan;
    text-align: center;
    img{
      color: $dark-blue;
      margin: 50px 0 30px;
    }
    a{
        color: $very-dark-desaturated-blue;
        padding: 30px;
        text-decoration: none;
    }
    a:hover{
        color: $grayish-blue;
    }
    
    
}
.social img{
    padding: 10px;
    width: 40px;
    height: 40px;
    color: $very-dark-desaturated-blue!important;
}
.social img:hover{
    color: $grayish-blue;
    cursor: pointer;
}

@media  (max-width: 375px) {
    .block{
        padding: 1px 30px;
        text-align: center;
    }
    .block-img-bg{
        padding: 1px 30px;
        text-align: center;
    }
    .up{
        position: relative;
        top: -80vh;
    }
    .down{
        position: relative;
        top: 80vh;
    }

}