@import '../variables.scss';
.block{
    height: 70vh;

    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        padding-bottom: 20px;
    }
    p{
        padding-bottom: 20px;
    }
}
.block-img{
    height: 70vh;
    padding: 0;
}
.block-img-bg{
    height: 70vh;
    position: relative;
    padding: 30px 140px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    h2{
        padding-bottom: 10px;
        color: $white;
    }
    p{
        padding-bottom: 10px;
        color: $white;
    }
    img{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

footer{
    background-color: $dark-moderate-cyan;
    text-align: center;
    img{
      color: $dark-blue;
      margin: 50px 0 30px;
    }
    a{
        color: $very-dark-desaturated-blue;
        padding: 30px;
        text-decoration: none;
    }
    a:hover{
        color: $grayish-blue;
    }
    
    
}
.social img{
    padding: 10px;
    width: 40px;
    height: 40px;
    color: $very-dark-desaturated-blue!important;
}
.social img:hover{
    color: $grayish-blue;
    cursor: pointer;
}